body{
  background-color: #f4eeff;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #424874;
  border-width: 5px;
  width:5%;
}
h3{
  color:#424874;
}
h1{
  color:#424874;
}
img:hover{
  background-color: gold;
  border-radius: 100%;
}
